@import 'tachyons-modular-media-queries';

.gallery__item {
  padding: 0;

  & img {
    max-width: 100%;
    padding: 0;
    border-radius: 10px;

    box-shadow: 2px 2px 6px 0 #656565;
    filter: progid:dximagetransform.microsoft.shadow(color=#656565, Direction=135, Strength=6);
  }
}

.link {
  text-decoration: none;
}

.gallery__item-overlay {
  border-radius: 10px;

  padding: 20px 10px 10px 20px;

  background: var(--galleryElementOverlayBackgroundColor);

  color: var(--galleryElementOverlayTextColor);
}

.gallery__item-subtitle {
  font-weight: 300;
}

@media (--breakpoint-not-small) {
  .gallery__item-overlay {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .gallery__container-inner {
    transition: transform 0.5s;

    &:hover {
      transform: scale3d(1.25, 1.25, 1);

      & .gallery__item-overlay {
        opacity: 1;
      }
    }
  }

  .gallery__item-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
