.header {
  composes: mb5 from 'tachyons-spacing';
}

.h2 {
  composes: mb3 from 'tachyons-spacing';
}

.link {
  text-decoration: none!important;
}

.p {
  composes: f5 from 'tachyons-type-scale';
  composes: f4-l from 'tachyons-type-scale';
  color: var(--colorText)!important;
}
