.header {
  composes: mb5 from 'tachyons-spacing';
}

.h2 {
  composes: f2 from 'tachyons-type-scale';
  composes: f1-l from 'tachyons-type-scale';
  composes: measure-narrow from 'tachyons-typography';
  composes: lh-title from 'tachyons-line-height';
  composes: mt0 from 'tachyons-spacing';
  composes: mb3 from 'tachyons-spacing';
}

.link {
  text-decoration: none!important;
}

.p {
  composes: f5 from 'tachyons-type-scale';
  composes: f4-l from 'tachyons-type-scale';
  color: var(--colorText)!important;
}
