.header {
  composes: mb5 from 'tachyons';
}

.h2 {
  composes: f2 from 'tachyons';
  composes: f1-l from 'tachyons';
  composes: measure-narrow from 'tachyons';
  composes: lh-title from 'tachyons';
  composes: mt0 from 'tachyons';
  composes: mb3 from 'tachyons';
}

.link {
  text-decoration: none !important;
}

.p {
  composes: f5 from 'tachyons';
  composes: f4-l from 'tachyons';
  color: var(--colorText) !important;
}
