.button {
  composes: db from 'tachyons';
  composes: dib-l from 'tachyons';
  composes: center from 'tachyons';
  composes: f2 from 'tachyons';
  composes: f3-l from 'tachyons';
  color: var(--menuLinkColor);
}
