.button {
  composes: db from 'tachyons-display';
  composes: dib-l from 'tachyons-display';
  composes: center from 'tachyons-utilities';
  composes: f2 from 'tachyons-type-scale';
  composes: f3-l from 'tachyons-type-scale';
  color: var(--menuLinkColor);
  text-decoration: none;
}
