.header {
  position: fixed;
  top: var(--menuIconPadding);
  right: var(--menuIconPadding);
}

.button--open {
  width: var(--menuIconSize) !important;
}

.icon--open {
  font-size: var(--menuIconSize) !important;
}

.drawer {
  background-color: var(--colorPrimary);
}

.button--close {
  position: absolute;
  top: var(--menuIconPadding);
  right: var(--menuIconPadding);
  width: var(--menuIconSize) !important;
}

.icon--close {
  font-size: var(--menuIconSize) !important;
  color: var(--colorLink);
}

.navigation {
  margin-top: calc(var(--menuIconSize) + var(--menuIconPadding));
}

.svg--logo {
  margin: auto;
  vertical-align: middle;
  display: inline-block;
  height: var(--menuIconSize);
}
