.header {
  background-color: var(--headerBackgroundColor);
}

.container {
  padding: var(--menuPadding);
  z-index: 1;
}

.github-corner__container {
  position: absolute;
  right: 0;
}

.github-corner__container > svg {
  height: 66px;
}
