@import 'tachyons-modular-media-queries';

.gallery {
  margin-bottom: 60px;
}

.gallery__container {
  width: 232px;
  max-width: 100%;
  padding: var(--galleryElementPadding);

  & .gallery-item {
    width: 222px;
  }

  z-index: 0;
  transition: z-index 0.5s;

  &:hover {
    z-index: 1;
  }
}

.gallery__container--large,
.gallery__container--double {
  width: 464px;

  & .gallery-item {
    width: 454px;
  }
}

@media (--breakpoint-not-small) {
  .gallery__container {
    height: 266px;
  }

  .gallery__container--high,
  .gallery__container--double {
    height: 522px;
  }
}
