.background {
  background-color: var(--colorSecondary);
}

.container {
  flex: 1;
  composes: pt4 from 'tachyons-spacing';
}

.article {
  composes: mw9 from 'tachyons-max-widths';
  composes: center from 'tachyons-utilities';
  composes: pa4 from 'tachyons-spacing';
  composes: pt5-ns from 'tachyons-spacing';
  composes: ph7-l from 'tachyons-spacing';
}

.h1 {
  composes: f-subheadline from 'tachyons-type-scale';
  composes: f-headline-l from 'tachyons-type-scale';
  composes: measure-narrow from 'tachyons-typography';
  composes: lh-title from 'tachyons-line-height';
  composes: mt0 from 'tachyons-spacing';
  composes: mb4 from 'tachyons-spacing';
}

.h1__text {
  composes: bg-black-90 from 'tachyons-skins';
  composes: lh-copy from 'tachyons-line-height';
  composes: white from 'tachyons-skins';
  composes: pa1 from 'tachyons-spacing';
  composes: tracked-tight from 'tachyons-letter-spacing';
}

.h2 {
  composes: f2 from 'tachyons-type-scale';
  composes: f1-l from 'tachyons-type-scale';
  composes: measure-narrow from 'tachyons-typography';
  composes: lh-title from 'tachyons-line-height';
  composes: mt0 from 'tachyons-spacing';
  composes: mb4 from 'tachyons-spacing';
}

.h2__text {
  composes: lh-title from 'tachyons-line-height';
  composes: white from 'tachyons-skins';
  composes: pa1 from 'tachyons-spacing';
  composes: tracked-tight from 'tachyons-letter-spacing';
}

.text {
  composes: mt0 from 'tachyons-spacing';
  composes: mb5 from 'tachyons-spacing';
}

.text__link {
  composes: f2 from 'tachyons-type-scale';
  composes: white-90 from 'tachyons-skins';
}
