.background {
  background-color: var(--colorSecondary);
}

.h1 {
  composes: f-subheadline from 'tachyons-type-scale';
  composes: f-headline-l from 'tachyons-type-scale';
  composes: measure-narrow from 'tachyons-typography';
  composes: lh-title from 'tachyons-line-height';
  composes: mt0 from 'tachyons-spacing';
  composes: mb4 from 'tachyons-spacing';
}

.h1__text {
  composes: bg-black-90 from 'tachyons-skins';
  composes: lh-copy from 'tachyons-line-height';
  composes: white from 'tachyons-skins';
  composes: pa1 from 'tachyons-spacing';
  composes: tracked-tight from 'tachyons-letter-spacing';
}

.h2 {
  composes: f2 from 'tachyons-type-scale';
  composes: f1-l from 'tachyons-type-scale';
  composes: measure-narrow from 'tachyons-typography';
  composes: lh-title from 'tachyons-line-height';
  composes: mt0 from 'tachyons-spacing';
  composes: mb4 from 'tachyons-spacing';
}

.h2__text {
  composes: lh-title from 'tachyons-line-height';
  composes: white from 'tachyons-skins';
  composes: pa1 from 'tachyons-spacing';
  composes: tracked-tight from 'tachyons-letter-spacing';
}

.text {
  composes: f4 from 'tachyons-type-scale';
  composes: f3-l from 'tachyons-type-scale';
  composes: white from 'tachyons-skins';
  composes: mt0 from 'tachyons-spacing';
  composes: mb3 from 'tachyons-spacing';
}

.text a {
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
}

.ul {
  composes: mt0 from 'tachyons-spacing';
  composes: mb4 from 'tachyons-spacing';
}

.li {
  composes: f4 from 'tachyons-type-scale';
  composes: f3-l from 'tachyons-type-scale';
  composes: white from 'tachyons-skins';
  composes: mt0 from 'tachyons-spacing';
  composes: mb3 from 'tachyons-spacing';
}
