.footer {
  text-align: center;
}

.externalReference {
  font-size: 1.5rem;
  line-height: 1rem;
  color: inherit;
  text-decoration: none;
}

.reactSvg {
  composes: dib from 'tachyons-display';
  text-align: center;
  vertical-align: middle;
}

.externalReferenceName {
  composes: fw1 from 'tachyons-font-weight';
}
