.footer {
  text-align: center;
}

.externalReference {
  composes: o-60 from 'tachyons-opacity';
  composes: f3 from 'tachyons-type-scale';
  composes: f4-m from 'tachyons-type-scale';
  composes: f5-l from 'tachyons-type-scale';
  line-height: 1rem;
  color: inherit;
  text-decoration: none;
}

.reactSvg {
  composes: dib from 'tachyons-display';
  text-align: center;
  vertical-align: middle;
}

.externalReferenceName {
  composes: fw1 from 'tachyons-font-weight';
}
