.footer {
  composes: mh4 from 'tachyons-spacing';
  composes: mb4 from 'tachyons-spacing';
  composes: tc from 'tachyons-text-align';
}

.externalReference {
  composes: f3 from 'tachyons-type-scale';
  line-height: 2rem;
  color: inherit;
  text-decoration: none;
}

.externalReference i {
  font-size: inherit;
  vertical-align: middle;
}

.reactSvg {
  composes: dib from 'tachyons-display';
  composes: tc from 'tachyons-text-align';
  vertical-align: middle;
}

.externalReferenceName {
  composes: fw1 from 'tachyons-font-weight';
}
