@context global {
  @import-normalize;
}

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: color(var(--colorPrimary) l(99%));
}

body {
  color: var(--colorText);
  font-size: 1rem;
  line-height: 1.5rem;

  font-family: system-ui;
}
